@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* Global Settings =================================== */
:root {
  --bg-dark-blue: #090b1a;
  --dark-blue: #1b1938;
  --violet: #aa5cdb;
  --white: #ffffff;
  --dark-gray: #ffffff99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  height: 100vh;
  background-color: var(--bg-dark-blue);
  font-family: 'Inter', sans-serif;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card =================================== */
#card {
  background-color: var(--dark-blue);
}

/* Image =================================== */
.image-header {
  width: 100%;
  height: 35%;
  position: relative;
  
  background: url("/images/image-header-mobile.jpg") center center no-repeat;
  background-size: cover;
}

.image-header::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .6;
  background-color: rgb(83, 13, 126);
}

/* Content =================================== */
.content > h1 {
  color: var(--white);
}

.content > h1 > span {
  color: var(--violet);
}

.content > p {
  color: var(--dark-gray);
  line-height: 1.5rem;
}

.content > .stats {
  font-family: 'Inter', sans-serif;
  color: var(--light-gray);
}

.stats > .stats-number {
  color: var(--white);
}

.stats > .stats-name {
  color: var(--dark-gray);
  text-transform: uppercase;
}

/* Mobile Screen =================================== */
@media (max-width: 375px) {
  #card {
    width: 88%;
    height: 85vh;
  }
  .content {
    width: 80%;
    margin: 0 auto;
  }
  .content > h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .content > p {
    font-size: 1rem;
    text-align: center;
  }
  .stats {
    text-align: center;
  }
  .stats > .stats-number {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 700;
  }
  .stats > .stats-name {
    font-size: .8rem;
  }
}